In [20]:
import pandas as pd

PV_DATA_PATH = "../../data/rooftop_pv/"
DEMAND_DATA_PATH = "../../data/UNSW-PROJECT-DATA/"

In [27]:
# Load the MEASUREMENT state-level data files
meas_df = pd.read_csv(PV_DATA_PATH+"rooftop_pv_measurement_wholestate.csv")

data_df = pd.read_csv(DEMAND_DATA_PATH+"combined_fd_Avg.csv")

/Users/mathew/Library/Python/3.9/lib/python/site-packages/IPython/core/interactiveshell.py:3098: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [25]:
meas_df.head(10)

,Unnamed: 0,I,ROOFTOP,ACTUAL,2,INTERVAL_DATETIME,REGIONID,POWER,QI,TYPE,LASTCHANGED
0,0,D,ROOFTOP,ACTUAL,2,2021-01-20 23:30:00,NSW1,0.0,1.0,MEASUREMENT,2021/01/20 23:50:19
1,1,D,ROOFTOP,ACTUAL,2,2021-01-20 23:30:00,QLD1,0.0,1.0,MEASUREMENT,2021/01/20 23:50:19
2,5,D,ROOFTOP,ACTUAL,2,2021-01-20 23:30:00,SA1,0.0,1.0,MEASUREMENT,2021/01/20 23:50:19
3,6,D,ROOFTOP,ACTUAL,2,2021-01-20 23:30:00,TAS1,0.0,1.0,MEASUREMENT,2021/01/20 23:50:19
4,9,D,ROOFTOP,ACTUAL,2,2021-01-20 23:30:00,VIC1,0.0,1.0,MEASUREMENT,2021/01/20 23:50:19
5,10,D,ROOFTOP,ACTUAL,2,2021-01-21 00:00:00,NSW1,0.0,1.0,MEASUREMENT,2021/01/21 00:20:24
6,11,D,ROOFTOP,ACTUAL,2,2021-01-21 00:00:00,QLD1,0.0,1.0,MEASUREMENT,2021/01/21 00:20:24
7,19,D,ROOFTOP,ACTUAL,2,2021-01-21 00:00:00,VIC1,0.0,1.0,MEASUREMENT,2021/01/21 00:20:24
8,16,D,ROOFTOP,ACTUAL,2,2021-01-21 00:00:00,TAS1,0.0,1.0,MEASUREMENT,2021/01/21 00:20:24
9,15,D,ROOFTOP,ACTUAL,2,2021-01-21 00:00:00,SA1,0.0,1.0,MEASUREMENT,2021/01/21 00:20:24

In [28]:
# Drop the TAS1 data as that's not part of our analysis
meas_df = meas_df[meas_df['REGIONID'] != 'TAS1']

# Convert REGIONID to STATE to match the combined demand/forecast file
meas_df['STATE'] = meas_df['REGIONID'].map(lambda x: x[:-1])

# Now drop the un-needed I, ROOFTOP, ACTUAL, 2, QI, TYPE, I, LASTCHANGED and REGIONID columns
meas_df = meas_df.drop(['Unnamed: 0','ROOFTOP','ACTUAL','2','QI','TYPE','LASTCHANGED','I', 'REGIONID'], axis=1)
meas_df.head()

     INTERVAL_DATETIME  POWER STATE
0  2021-01-20 23:30:00    0.0   NSW
1  2021-01-20 23:30:00    0.0   QLD
2  2021-01-20 23:30:00    0.0    SA
4  2021-01-20 23:30:00    0.0   VIC
5  2021-01-21 00:00:00    0.0   NSW

In [33]:
meas_df.shape

(76404, 3)

In [29]:
data_df.head(10)

,Unnamed: 0,STATE,DATETIME,TOTALDEMAND,LOCATION,TEMPERATURE,FORECASTDEMAND,Weekday,Quarter,Month,Season,Day,Year,SUNRISE,SUNSET,DAYTYPE
0,0,NSW,2010-01-01 00:00:00,8038.00,Bankstown,23.1,7824.411831,Friday,1,1,Summer,1,2010,2010-01-01 04:48:00,2010-01-01 19:10:00,Night
1,1,NSW,2010-01-01 00:30:00,7809.31,Bankstown,22.9,7680.510417,Friday,1,1,Summer,1,2010,2010-01-01 04:48:00,2010-01-01 19:10:00,Night
2,2,NSW,2010-01-01 01:00:00,7483.69,Bankstown,22.6,7428.971370,Friday,1,1,Summer,1,2010,2010-01-01 04:48:00,2010-01-01 19:10:00,Night
3,3,NSW,2010-01-01 01:30:00,7117.23,Bankstown,22.5,7084.802162,Friday,1,1,Summer,1,2010,2010-01-01 04:48:00,2010-01-01 19:10:00,Night
4,4,NSW,2010-01-01 02:00:00,6812.03,Bankstown,22.5,6751.369600,Friday,1,1,Summer,1,2010,2010-01-01 04:48:00,2010-01-01 19:10:00,Night
5,5,NSW,2010-01-01 02:30:00,6544.33,Bankstown,22.4,6484.270789,Friday,1,1,Summer,1,2010,2010-01-01 04:48:00,2010-01-01 19:10:00,Night
6,6,NSW,2010-01-01 03:00:00,6377.32,Bankstown,22.3,6304.129740,Friday,1,1,Summer,1,2010,2010-01-01 04:48:00,2010-01-01 19:10:00,Night
7,7,NSW,2010-01-01 03:30:00,6282.85,Bankstown,22.3,6158.749744,Friday,1,1,Summer,1,2010,2010-01-01 04:48:00,2010-01-01 19:10:00,Night
8,8,NSW,2010-01-01 04:00:00,6211.49,Bankstown,22.1,6104.542405,Friday,1,1,Summer,1,2010,2010-01-01 04:48:00,2010-01-01 19:10:00,Night
9,9,NSW,2010-01-01 04:30:00,6248.31,Bankstown,22.2,6021.617500,Friday,1,1,Summer,1,2010,2010-01-01 04:48:00,2010-01-01 19:10:00,Night

In [35]:
# Join the PV and combined demand/forecast dataframes by timestamp and state. 
# REGIONID has been modified by dropping the last character to give STATE in data_df so this needs to be takein into account
# There are only values for 2021 onwards in the PV data, so left-join on that to avoid 8 years of missing values.
data_df = data_df.drop('Unnamed: 0', axis=1)
result = pd.merge(meas_df, data_df, left_on=['STATE','INTERVAL_DATETIME'], right_on=['STATE','DATETIME'], how='left')

In [36]:
result.head(5)

,INTERVAL_DATETIME,POWER,STATE,DATETIME,TOTALDEMAND,LOCATION,TEMPERATURE,FORECASTDEMAND,Weekday,Quarter,Month,Season,Day,Year,SUNRISE,SUNSET,DAYTYPE
0,2021-01-20 23:30:00,0.0,NSW,2021-01-20 23:30:00,7234.81,Bankstown,13.9,7231.305714,Wednesday,1.0,1.0,Summer,20.0,2021.0,2021-01-20 05:05:00,2021-01-20 19:08:00,Night
1,2021-01-20 23:30:00,0.0,QLD,2021-01-20 23:30:00,6260.50,Brisbane Archerfield Airport,21.4,6359.365571,Wednesday,1.0,1.0,Summer,20.0,2021.0,2021-01-20 05:11:00,2021-01-20 18:47:00,Night
2,2021-01-20 23:30:00,0.0,SA,2021-01-20 23:30:00,1377.37,Adelaide (Kent Town),21.4,1375.175857,Wednesday,1.0,1.0,Summer,20.0,2021.0,2021-01-20 05:53:00,2021-01-20 20:00:00,Night
3,2021-01-20 23:30:00,0.0,VIC,2021-01-20 23:30:00,4693.84,Melbourne (Olympic Park),16.4,4518.027143,Wednesday,1.0,1.0,Summer,20.0,2021.0,2021-01-20 05:20:00,2021-01-20 19:42:00,Night
4,2021-01-21 00:00:00,0.0,NSW,2021-01-21 00:00:00,7115.07,Bankstown,13.6,7137.456197,Thursday,1.0,1.0,Summer,21.0,2021.0,2021-01-21 05:06:00,2021-01-21 19:08:00,Night

In [ ]:
result.shape

In [37]:
# Write the combined datafile out as CSV
result.to_csv(PV_DATA_PATH+"pv_demand_forecast_combined.csv",index=False)